<h1>Edit Profile</h1>
<hr/>
<%= form_for [@bio] do |f| %>
  <%= f.label :profile_image %>
  <%= f.text_area :profile_image, required: true, autofocus: true %>
  <%= f.label :description %>
  <%= f.text_area :description, required: true %>
  <%= f.submit %>
  <% end %>